/* This file is for your main application CSS */
@import "./phoenix.css";


/* General */

.hidden {
    display: none;
}

p {
    font-size: 1.4rem;
    line-height: 120%;
    text-align: justify;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

a:hover{
    color: white;
}

header {
    background-color: lightgray;
    border-bottom: none;
}

body {
    background-color: lightgray;
}

/* logo */

.container {
    max-width: 90rem;
    padding: 0rem;
}

.mm-logo{
    width:20%;
    margin:auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    border-radius: 3rem;
}

.logo-background {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    border-radius: 1rem;
}

/* Sidebar */

.sidebar {
    background-color: #42389D;
	border-radius: 1rem;
    margin-right: 0.8rem;
}

.nav {
    margin-top: 2rem;
}

.sidebar-button:hover {
    background-color: #6961b3;
    border-radius: 0.5rem;
    width: 100%;
    font-weight: bold;
}

.sidebar-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.4rem;
    padding-left: 1rem;
}

a.active{
    font-weight: bold;
    background-color: #362f78;
}

.active .sidebar-button{
    background-color: #362f78;
    border-radius: 0.5rem;
}

/* Main */

.main{
    background-color: white;
    border-radius: 1rem;
}

/* Description */

.main .header {
    border-bottom: 1px solid lightgray;
}

.main .header h2{
    color: #42389d;
    font-weight: bold;
    margin: auto;
    font-size: 1.9rem;
    margin-top: 1.3rem;
}

.main .header p{
    margin-bottom: 1.5rem;
}

/* Strategies */

.main .strategies h3{
    text-align: justify;
    color: #42389d;
    font-weight: bold;
    margin: auto;
    font-size: 1.1em;
    margin-top: 2.5rem;
}

.main .strategies .radio-button{
    text-align: justify;
    margin: auto;
    font-size: 0.9em;
}

.main .strategies .radio-button{
    margin: auto;
    font-size: 1.1em;
}

.main .strategies .radio-button .choice{
    display: flex;
    padding-left: 0rem;
}

label {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.4rem;
    text-align: left;
    font-weight: normal;
}

.main .strategies .radio-button .description{
    margin: auto;
    font-size: 1.6rem;
    color: rgb(146, 141, 141);
}

/* Syndicates */

.main .syndicates h3{
    text-align: justify;
    color: #42389d;
    font-weight: bold;
    margin: auto;
    font-size: 1.1em;
}

.row .single-syndicate {
    margin-left: inherit;
}

.column .single-checkbox {
    flex: 0 0 3%;
    max-width: 3%;
}

/* Button */
button {
    background-color: #42389d;
    border-radius: 25px;
    width: 100%;
}

button:hover{
    background-color: #6961b3;
}